#search{
  width: 400px;
  height: 175px;
  margin: auto;
  margin-top: 25px;
  padding: 20px;
}

button{
  position: relative;
  left: 50px;
}

.aligning{
  margin-left: 725px;
  margin-top: 20px;
}

#searchresult {
  position:relative;
}


#buttonimage{
  position:relative;
  left: -10px;
  top: -8px;
  margin-bottom: 15px;
}


